@import "tailwindcss";

@theme inline {
  --color-primary-50: #edefff;
  --color-primary-500: #2d60e0;
  --color-primary-900: #000b50;

  --color-primary-shadows: #d1d5e9;
  --color-disabled: #d0cde1;

  --animate-appear: appearAnimation 0.1s 1 ease-in-out forwards;
}

iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

@keyframes appearAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
